<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>トップ | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>
	<article class="main">
		<h2 class="title">売れ筋商品</h2>
<div class="fit">
		<div th:each="item:${saleItems}">


			<a th:href="@{/item/detail/{id}(id=${item.id})}"> <img
				th:src="${item.image}"width="25%" height="200%"border="1"></img>
			</a>
			<td><a th:href="@{/item/detail/{id}(id=${item.id})}"
				th:text="${item.name}"></a>&nbsp;:&nbsp;


          <td th:text="${item.description}"class="fit__desc"></td>
		</div>
	</article>


</body>
</html>