<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
<head>
<title>トップ | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>
	<article class="main">
		<h2 class="title">売れ筋商品</h2>

		<div th:each="item:${saleItems}">
			 <font size="4.5"><div th:text="${item.name}"></div></font>

			<a th:href="@{/item/detail/{id}(id=${item.id})}"> <img
				th:src="${item.image}" width="40%" height="auto"/>
			</a>

		</div>
	</article>


</body>
</html>