<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
<head>
<title>トップ | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>
	<article class="main">
		<h2 class="title">売れ筋商品</h2>
<div class="fit">
		<div th:each="item:${saleItems}">


			<a th:href="@{/item/detail/{id}(id=${item.id})}"> <img
				th:src="${item.image}" width="30%" height="auto"class="fit__img" />
			</a>
			 <font size="4.0"><div th:text="${item.name}"class="fit__name" ></div></font>
          <td th:text="${item.description}"class="fit__desc"></td>
		</div>
	</article>


</body>
</html>