<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 class="title">商品一覧</h2>
	<div th:if="!${#lists.isEmpty(items)}">
		<div>
			<a th:href="@{/item/list}">新着順</a>
			<a>売れ筋順</a>
			<a th:href="@{/item/list/priceDesc}">価格が高い順</a>
			<a th:href="@{/item/list/priceAsc}">価格が低い順</a>
		</div>

		<table class="list_table item_list"  th:if="!${#lists.isEmpty(items)}">
			<tr>
				<th>商品画像</th>
				<th>商品名</th>
				<th>価格</th>
				<th>カテゴリ</th>
			</tr>
			<!--/* 商品情報 */-->
			<tr th:each="item: ${items}">
				<td><span th:if="${item.image}">
				 <img th:src="${item.image}"width="25%" height="auto"></img>

				</span></td>
				<td><a th:href="@{/item/detail/{id}(id=${item.id})}"
					th:text="${item.name}"></a></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.categoryName}"></td>
			</tr>
		</table>


		<ul class="paging" th:if="!${#lists.isEmpty(items)}">
			<li th:class="${pages.first} ? 'disabled':''">
				<span th:if="${pages.first}">&lt;&lt;</span>
				<a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
			</li>
			<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}'
				th:class="(${i}==${pages.number})? 'active' : ''">
				<span th:if='${i}==${pages.number}' th:text='${i+1}'>1</span> <a
				th:if='${i}!=${pages.number}' th:href="@{${url}(page=${i})}"> <span
					th:text="${i+1}">1</span>
			</a></li>
			<li th:class="${pages.last} ? 'disabled':''"><span
				th:if="${pages.last}">&gt;&gt;</span> <a th:if="${not pages.last}"
				th:href="@{${url}(page=(${pages.totalPages}-1))}">&gt;&gt;</a></li>
		</ul>
	</div>


	<div th:unless="!${#lists.isEmpty(items)}">
		<p>閲覧できる商品情報がありません。</p>
	</div>




</body>
</html>