<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>お支払い方法選択 | シェアードショップ</title>
</head>
<body class="user order_payment_input">

	<article class="main">
				<h2 class="title">
					お支払い方法選択
				</h2>

				<!-- 支払方法が未選択の時に出力されるメッセージ -->
				<div th:if="${order.payMethod == 0}">
					<p th:text="#{payMethod.none}"></p>
				</div>

				<div class="user_info_form_area">
					<form method="post" action="/shared_shop/order/check">
						<ul class="payment_method_select">
							<li>
								<label class="radio_label">
									<input type="radio" name="payMethod" value="1" checked="checked"/>
									クレジットカード
								</label>
							</li>
							<li>
								<label class="radio_label">
									<input type="radio" name="payMethod" value="2" />
									銀行振り込み
								</label>
							</li>
							<li>
								<label class="radio_label">
									<input type="radio" name="payMethod" value="3" />
									着払い
								</label>
							</li>
							<li>
								<label class="radio_label">
									<input type="radio" name="payMethod" value="4" />
									電子マネー
								</label>
							</li>
							<li>
								<label class="radio_label">
									<input type="radio" name="payMethod" value="5" />
									コンビニ決済
								</label>
							</li>
						</ul>
						<!-- <span th:if="${#fields.hasErrors('payMethod')}" th:errors="*{payMethod}"></span> -->
						<input type="hidden" name="deleteFlag" th:value="*{deleteFlag}" >
						<input type="hidden" name="id" th:value="${order.id}">
						<input type="hidden" name="postalCode" th:value="${order.postalCode}">
						<input type="hidden" name="address" th:value="${order.address}">
						<input type="hidden" name="name" th:value="${order.name}">
						<input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}">

						<input type="submit" class="send_button" value="次へ" />


						</form>
						<form method="post" action="/shared_shop/address/input" class="update">
						<input type="hidden" name="id" th:value="${order.id}">
						<input type="hidden" name="postalCode" th:value="${order.postalCode}">
						<input type="hidden" name="address" th:value="${order.address}">
						<input type="hidden" name="name" th:value="${order.name}">
						<input type="hidden" name="phoneNumber" th:value="${order.phoneNumber}">
						<input type="hidden" name="backFlg" value="true" />
						<input type="submit" class="back_button" value="戻る" />
					</form>
						</div>
						</article>

</body>
</html>