<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>注文完了 | シェアードショップ</title>
</head>
<body>
	<article class="main">
				<h2 class="title">
					注文完了
				</h2>
				<p class="complete_message">
					ご注文ありがとうございます。
					<br />
					注文手続きが完了しました。
				</p>
				<p class="complete_link">
					<a href="/shared_shop/">
						トップへ戻る
					</a>
				</p>

				<div th:if="${duplicatedOrder}">
					<p>＊こちらの注文はすでに完了しております</p>
				</div>
			</article>
</body>
</html>